@{
	ViewData["Title"] = "Add new Operation";
}


<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div>
	<ul>
		<li><a asp-area="" asp-controller="Blobs" asp-action="CreateBlobContainer" asp-route-containerName="custom">Create blob container</a></li>
		<li><a asp-area="" asp-controller="Blobs" asp-action="UploadBlob" asp-route-containerName="custom" asp-route-blobName="Custom Blob" asp-route-path="c:\Users\Dimitris Selal\source\repos\storage-blobs-dotnet-quickstart\sample.mp4">Upload blob</a></li>
		<li><a asp-area="" asp-controller="Blobs" asp-action="ListBlobs" asp-route-containerName="custom">List blobs</a></li>
		<li><a asp-area="" asp-controller="Blobs" asp-action="DownloadBlob" asp-route-containerName="custom" asp-route-blobName="Custom Blob" asp-route-downloadPath="c:\Users\Dimitris Selal\source\repos\storage-blobs-dotnet-quickstart\thisIsDownloaded.mp4">Download blob</a></li>
		<li><a asp-area="" asp-controller="Blobs" asp-action="DeleteBlob" asp-route-containerName="custom" asp-route-blobName="Custom Blob">Delete blob</a></li>
		<li><a asp-area="" asp-controller="Blobs" asp-action="DeleteContainer" asp-route-containerName="custom">Delete container</a></li>
	</ul>
</div>


<form id="upload" method="post" enctype="multipart/form-data" asp-controller="UploadVideo" asp-action="Post">
	<div class="form-group">
		<div class="col-md-10">
			<p>Upload one or more files using this form:</p>
			<input id="file" type="file" name="files" multiple />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<input type="submit" value="Upload" />
		</div>
	</div>
</form>









