@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Sensor Fusion Contact Page</h3>

Sensor Fusion app was create by Dimitris Selalmazidis in conjunction with University College London.


