
@model SensorFusion.ViewModels.SingleOperationViewModel
@{
	ViewData["Title"] = "Details";
}


<div class="container">
	<h2>Operation Number: @Model.operationID</h2>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Properties</th>
			<th>Details</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Wheatfffffffffffffffffffff</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Rice</td>
		<tr>
			<td>3</td>
			<td>Sugar</td>
		</tr>
	</table>
</div>