@model IEnumerable<SensorFusion.Models.Hospital>






@{
	ViewBag.Title = "Hospitals";
}
<h2>Hospitals</h2>
<table class="table">
	<tr>
		<th>hospitalID</th>
		<th>address</th>
		<th>city</th>
		<th>postCode</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.hospitalID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.city)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.postCode)
			</td>
		</tr>
	}
</table>

@using (Html.BeginForm())
{
	<div class="form-horizontal">

		@*@Html.HiddenFor(model=>model.ID)*@

		<div class="form-group">
			<label>Select Hospital</label>
			@*@*Normal Dropdow the selected type will be of "SelectedHospitalIDs  *@
			@*Html.DropDownListFor(model => model.SelectedHospitalIDs, new SelectList(Model.HospitalCollection, "hospitalID", "name"), new { id = "normalDropDown" })*@

			@*Multiselect dropdown. the first part will be the return type*@
			@*@Html.ListBoxFor(model=> model.selectedIDArray, new MultiSelectList(Model,"hospitalID", "name"), new { id = "multiSelectDropDown",  multiple = "multiple" }  )*@

		</div>
	</div>

}

@section Scripts{ 
	<script>

		$(function () {

			//$("#normalDropDown").chosen();
			$("#multiSelectDropDown").chosen(
				{ 
					width:"100%"
				});


		});

	</script>


}






